CrackerClient/Connected Services/CrackerServiceReference/CrackerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CrackerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DuplexBinding_ICrackerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/CrackerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/CrackerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/CrackerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrackerServerLibrary" />
      <xsd:import schemaLocation="http://localhost:8001/CrackerService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrackerService_SendDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDictionary" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_SendDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_SendDictionaryHash_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDictionaryHash" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_SendDictionaryHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDictionaryHashResponse" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_AnnounceResult_InputMessage">
    <wsdl:part name="parameters" element="tns:AnnounceResult" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_Print_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Print" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_BruteCrack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BruteCrack" />
  </wsdl:message>
  <wsdl:message name="ICrackerService_DictionaryCrack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DictionaryCrack" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICrackerService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrackerService/SendDictionary" message="tns:ICrackerService_SendDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrackerService/SendDictionaryResponse" message="tns:ICrackerService_SendDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendDictionaryHash">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrackerService/SendDictionaryHash" message="tns:ICrackerService_SendDictionaryHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrackerService/SendDictionaryHashResponse" message="tns:ICrackerService_SendDictionaryHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AnnounceResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrackerService/AnnounceResult" message="tns:ICrackerService_AnnounceResult_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrackerService/AddClient" message="tns:ICrackerService_AddClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Print">
      <wsdl:output wsaw:Action="http://tempuri.org/ICrackerService/Print" message="tns:ICrackerService_Print_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BruteCrack">
      <wsdl:output wsaw:Action="http://tempuri.org/ICrackerService/BruteCrack" message="tns:ICrackerService_BruteCrack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DictionaryCrack">
      <wsdl:output wsaw:Action="http://tempuri.org/ICrackerService/DictionaryCrack" message="tns:ICrackerService_DictionaryCrack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DuplexBinding_ICrackerService" type="tns:ICrackerService">
    <wsp:PolicyReference URI="#DuplexBinding_ICrackerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendDictionary">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/SendDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDictionaryHash">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/SendDictionaryHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnounceResult">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/AnnounceResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/AddClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Print">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/Print" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BruteCrack">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/BruteCrack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictionaryCrack">
      <soap12:operation soapAction="http://tempuri.org/ICrackerService/DictionaryCrack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrackerService">
    <wsdl:port name="DuplexBinding_ICrackerService" binding="tns:DuplexBinding_ICrackerService">
      <soap12:address location="http://localhost:8001/CrackerService/CrackerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8001/CrackerService/CrackerService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>