CrackerClient/Connected Services/CrackerServiceReference/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CrackerServerLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CrackerServerLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/CrackerService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DictionaryData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictionaryData" nillable="true" type="tns:DictionaryData" />
  <xs:complexType name="ResultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrackedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrackingMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrackingPerformance" type="xs:long" />
      <xs:element minOccurs="0" name="CrackingTime" type="xs:long" />
      <xs:element minOccurs="0" name="IsCracked" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData" nillable="true" type="tns:ResultData" />
</xs:schema>