CrackerClient/Connected Services/CrackerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/CrackerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrackerServerLibrary" />
  <xs:element name="SendDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CrackerServerLibrary" minOccurs="0" name="SendDictionaryResult" nillable="true" type="q1:DictionaryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Print">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>